@media (max-width:991px) {
  .title {
    font-size: 24px;
  }

  .header__nav-menu {
    height: 70px;
    border: none;
    border-radius: 0;
    justify-content: space-around;
    overflow: visible;
  }

  .header__nav-menu-link {
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 50%;
  }

  .header__nav-menu-link:last-child {
    width: 100%;
    border-radius: 40px;
  }

  .hero__title {
    font-size: 28px;
  }
}

@media (max-width:768px) {
  .element-dt {
    display: none;
  }

  .element-mb {
    display: block;
  }

  .logo-img {
    width: 120px;
  }

  .btn-lang {
    height: 35px;
    padding: 0 5px;
    min-width: unset;
  }

  .btn-lang__list {
    padding: 13px 5px 10px;
  }

  .footer__top {
    justify-content: center;
    text-align: center;
    padding: 30px 0;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0;
  }

  .footer__bottom-left {
    width: 100%;
    align-items: center;
  }

  .footer__bottom-nav {
    justify-content: center;
    margin-bottom: 30px;
  }

  .footer__bottom-right {
    width: 100%;
    align-items: center;
  }

  .footer__bottom-text {
    margin: 30px 0 35px;
  }

  .hero {
    padding: 30px 0 0;
  }

  .advantages {
    padding: 60px 0 30px;
  }

  .advantages__items {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .advantages__item {
    max-width: unset;
    width: 100%;
    min-height: 150px;
    padding: 20px;
  }

  .faqs {
    padding: 30px 0 60px;
  }

  .questions {
    padding: 0 0 30px;
  }

  .questions__inner {
    border: none;
    padding: 30px 100px;
  }

  .questions__img-box {
    display: none;
  }

  .questions__content {
    align-items: center;
  }

  .form {
    justify-content: center;
  }

  .form .agreement {
    text-align: center;
  }

  .clients__items {
    justify-content: space-around;
  }
}

@media (max-width: 540px) {
  .footer__bottom-clients {
    gap: 10px;
  }
}