@media(max-height:1000px) {
  #popup-registration .popup {
    margin: 50px 0;
  }
}

@media (max-width:991px) {
  .title {
    font-size: 24px;
  }

  .header__nav-menu {
    height: 70px;
    border: none;
    border-radius: 0;
    justify-content: space-around;
    overflow: visible;
  }

  .header__nav-menu-link {
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 50%;
  }

  .header__nav-menu-link:last-child {
    width: 100%;
    border-radius: 40px;
  }

  .hero__title {
    font-size: 28px;
  }

  .progress__title {
    font-size: 28px;
  }

  .progress__list-item {
    flex-wrap: wrap;
  }

  .progress__lesson-text {
    width: calc(100% - 75px);
  }

  .progress__lesson-status-box {
    margin-left: 75px;
  }
}

@media (max-width:768px) {
  .element-dt {
    display: none;
  }

  .element-mb {
    display: block;
  }

  .logo-img {
    width: 120px;
  }

  .btn-lang {
    height: 35px;
    padding: 0 5px;
    min-width: unset;
  }

  .btn-lang__list {
    padding: 13px 5px 10px;
  }

  .footer__top {
    justify-content: center;
    text-align: center;
    padding: 30px 0;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0;
  }

  .footer__bottom-left {
    width: 100%;
    align-items: center;
  }

  .footer__bottom-nav {
    justify-content: center;
    margin-bottom: 30px;
  }

  .footer__bottom-right {
    width: 100%;
    align-items: center;
  }

  .footer__bottom-text {
    margin: 30px 0 35px;
  }

  .hero {
    padding: 30px 0 0;
  }

  .advantages {
    padding: 60px 0 30px;
  }

  .advantages__items {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .advantages__item {
    max-width: unset;
    width: 100%;
    min-height: 150px;
    padding: 20px;
  }

  .faqs {
    padding: 30px 0 60px;
  }

  .questions {
    padding: 0 0 30px;
  }

  .questions__inner {
    border: none;
    padding: 30px 100px;
  }

  .questions__img-box {
    display: none;
  }

  .questions__content {
    align-items: center;
  }

  .form {
    justify-content: center;
  }

  .form .agreement {
    text-align: center;
  }

  .clients__items {
    justify-content: space-around;
  }

  .lesson__selected-1 {
    flex-wrap: wrap;
    gap: 5px;
  }

  .lesson__selected-1-item {
    width: calc(33.33% - 5px);
  }

  .lesson__selected-2 {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .footer__bottom-clients {
    gap: 10px;
  }

  .progress__list-item {
    flex-direction: column;
    gap: 10px 0;
  }

  .progress__lesson-title {
    margin-right: auto;
    flex: 0 0 10px;
  }

  .progress__lesson-text {
    width: 100%;
    margin: 0;
  }

  .progress__lesson-status-box {
    margin: 0 auto 0 0;
  }

  .progress__lesson-scores {
    margin: 0 auto 0 0;
  }

  .lesson__item {
    padding: 20px;
  }

  .popup-certificate {
    padding: 38px 30px 48px;
  }

  .popup-result,
  .popup-certificate-how {
    padding: 30px;
  }

  .popup-nav {
    padding: 30px 10px;
  }

  .popup-nav .popup__nav {
    flex-direction: column;
    width: fit-content;
    margin: 0 auto 40px;
    border-radius: 15px;
  }

  .popup-nav .popup__nav-link:nth-child(2) {
    border-left: none;
    border-right: none;
    border-top: 1px solid rgba(166, 175, 185, 0.5);
    border-bottom: 1px solid rgba(166, 175, 185, 0.5);
  }

  .popup-nav .popup__nav-link {
    width: 100%;
  }

  .popup-registration {
    padding: 59px 30px 30px;
  }

  .popup-registration .form__element .form__checkbox-text {
    white-space: normal;
  }
}

@media (max-width: 400px) {
  .progress__item-topbar {
    flex-wrap: wrap;
    padding: 10px 15px;
  }

  .progress__item-content {
    padding: 20px 15px;
  }

  .progress-box {
    padding-right: 100px;
    order: +1;
  }

  .progress__lesson-btn-cerificate {
    width: 100%;
    padding: 0 20px 0 90px;
    font-size: 10px;
    height: 70px;

    svg {
      width: 15px;
    }
  }

  .progress__lesson-btn-cerificate::before {
    top: 2px;
    left: 15px;
  }

  .progress__lesson-btn-start-test {
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
    font-size: 10px;
    height: 70px;
  }

  .lesson__selected-1-item {
    width: calc(50% - 2.5px);
  }

  .lesson__items-head {
    padding: 20px;
  }

  .lesson__items-head-btn {
    width: 100%;
  }

  .lesson__items-btn {
    width: 100%;
  }

  .popup {
    border-radius: 15px;
    padding: 50px 0 0;
  }

  .popup-certificate {
    padding: 30px 10px 30px;
    gap: 20px;
  }

  .popup-certificate .popup-btn {
    width: 100%;
  }

  .popup-certificate .share {
    flex-wrap: wrap;
    padding: 0 10px;
  }

  .popup-certificate .share span {
    width: 100%;
  }

  .popup-result,
  .popup-certificate-how,
  .popup-registration {
    padding: 25px 20px;
  }

  .popup-certificate-how .popup-btn {
    width: 100%;
  }

  .popup-registration .form__btns {
    flex-wrap: wrap;
    justify-content: center;
  }

  .popup-registration .popup-btn {
    width: 100%;
  }
}