@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-Regular.woff2), url(../fonts/Montserrat-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-Medium.woff2), url(../fonts/Montserrat-Medium.woff);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-SemiBold.woff2), url(../fonts/Montserrat-SemiBold.woff);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-Bold.woff2), url(../fonts/Montserrat-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-ExtraBold.woff2), url(../fonts/Montserrat-ExtraBold.woff);
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: montserrat, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  color: #3E80CE;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  background: #3E80CE;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 180%;
}
.btn:hover {
  background: rgba(62, 128, 206, 0.9);
}

.btn-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  background: #FF8901;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 180%;
}
.btn-orange:hover {
  background: rgba(255, 137, 1, 0.9);
}

.btn-line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  color: #3E80CE;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 180%;
  background: transparent;
  border: 2px solid #3E80CE;
  text-transform: uppercase;
}
.btn-line:hover {
  color: #fff;
  background-color: #3E80CE;
}

.element-dt {
  display: inline-block;
}
.element-mb {
  display: none;
}

.burger-btn {
  width: 40px;
  height: 40px;
  background-color: #3E80CE;
  position: relative;
  cursor: pointer;
  z-index: 55;
}
.burger-btn__line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 3px;
  background-color: #fff;
  transform-origin: center;
  transition: all 0.1s ease-out;
}
.burger-btn__line:first-child {
  top: calc(50% - 9px);
}
.burger-btn__line:last-child {
  top: calc(50% + 9px);
}
.burger-btn.active .burger-btn__line:first-child {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger-btn.active .burger-btn__line {
  opacity: 0;
}
.burger-btn.active .burger-btn__line:last-child {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.burger-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 260px;
  height: 100%;
  padding: 20px 10px;
  background: #fff;
  box-shadow: 2px 0 15px 0 rgba(0, 0, 0, 0.3);
}
.burger-menu.active {
  display: block;
}
.burger-menu .header__nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.burger-menu .user {
  margin-bottom: 15px;
}
.burger-menu .user__arrow {
  margin-left: 10px;
}
.burger-menu .header__nav-link {
  padding: 5px 0;
  font-size: 14px;
}
.burger-menu .header__nav-menu {
  width: 240px;
}
.burger-menu .header__nav-menu-link:last-child {
  font-size: 16px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
  max-width: 550px;
  width: 100%;
}
.form__item {
  max-width: 265px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.form__label {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.form__input {
  height: 46px;
  border-radius: 40px;
  border: 1px solid rgba(166, 175, 185, 0.5);
  color: #000;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 11px 16px;
}
.form .agreement {
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.form__button {
  padding: 12px 58px 13px 57px;
  max-width: 265px;
  width: 100%;
}
.form .iti__flag-container {
  left: 16px;
}
.form .iti--allow-dropdown input[type=tel] {
  padding-left: 60px;
}
.form .iti__selected-flag {
  padding: 0;
}
.form .iti__arrow {
  border: none;
  width: 12px;
  height: 10px;
  position: relative;
}
.form .iti__arrow::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 7px;
  content: "";
  background-image: url(../images/black-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.form .iti__country-list {
  left: -16px;
  width: 265px;
  border-radius: 10px;
  top: 50px;
  border: 1px solid rgba(166, 175, 185, 0.5);
}
.form .iti__country-list::-webkit-scrollbar {
  display: none;
}
.form .iti__country {
  padding: 10px 16px;
}
.form .iti__country:hover {
  background: rgba(166, 175, 185, 0.5);
}

.form-group .dropdown {
  position: relative;
}
.form-group .dropdown__button {
  position: relative;
  display: block;
  width: 265px;
  text-align: left;
  background: #FFFFFF;
  border: 1px solid rgba(166, 175, 185, 0.5);
  border-radius: 40px;
  height: 46px;
  margin-top: 6px;
  padding: 11px 16px;
  cursor: pointer;
}
.form-group .dropdown__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 9px;
  height: 7px;
  background-image: url(../images/black-arrow.svg);
  pointer-events: none;
}
.form-group .dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  top: 80px;
  margin: 0;
  padding: 10px;
  list-style-type: none;
  background: #FFFFFF;
  border: 1px solid rgba(166, 175, 185, 0.5);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  z-index: 1;
}
.form-group .dropdown__list--visible {
  display: block;
}
.form-group .dropdown__list-item {
  margin: 0;
  padding: 0;
  border-bottom: 0px;
  padding: 13px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 9px 13px;
  border-radius: 25px;
  transition: color 0.1s ease-out, background 0.1s ease-out;
  position: relative;
  z-index: 5;
}
.form-group .dropdown__list-item:hover {
  color: #fff;
  background: #A6AFB9;
}
.form-group .dropdown__input-hidden {
  display: none;
}

.header {
  border-bottom: 1px rgba(166, 175, 185, 0.2) solid;
}
.header__inner {
  min-height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.header-tringle {
  width: 12px;
  height: 10px;
  fill: #3E80CE;
  z-index: 5;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3px 0 18px;
}
.header__nav-link {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  text-transform: uppercase;
  transition: color 0.1s ease-out;
}
.header__nav-link:hover {
  color: #3E80CE;
}
.header__nav-menu {
  width: 267px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid rgba(166, 175, 185, 0.5);
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.header__nav-menu-link {
  width: 50px;
  height: 100%;
  border-right: 1px solid rgba(166, 175, 185, 0.5);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  transition: color 0.1s ease-out, background 0.1s ease-out;
}
.header__nav-menu-link:hover {
  color: #3E80CE;
  background: rgba(166, 175, 185, 0.2);
}
.header__nav-menu-link:last-child {
  border: none;
  width: calc(100% - 150px);
}
.header__nav-menu-img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.logo-link {
  display: block;
  margin-right: auto;
}
.logo-img {
  width: 146px;
  height: auto;
  object-fit: cover;
}

.btn-login {
  padding: 12px 42px 13px 43px;
  text-transform: uppercase;
  width: fit-content;
}
.btn-lang {
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  color: #3E80CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  cursor: pointer;
  position: relative;
  z-index: 3;
  padding: 0px 10px;
  min-width: 168px;
}
.btn-lang:hover {
  background: unset;
}
.btn-lang__img {
  width: 22px;
  height: 22px;
  object-fit: cover;
  z-index: 5;
}
.btn-lang__text {
  z-index: 5;
}
.btn-lang__list {
  width: 100%;
  padding: 30px 5px 10px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 25px;
  border-radius: 0 0 25px 25px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  z-index: 4;
  display: none;
}
.btn-lang__item--link {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 3px 10px;
  border-radius: 25px;
  transition: color 0.1s ease-out, background 0.1s ease-out;
}
.btn-lang__item--link:hover {
  color: #fff;
  background: #A6AFB9;
}
.btn-lang__item--mb {
  display: none;
}

.user {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 50px;
  max-width: 286px;
}
.user__avatar {
  display: block;
  margin-right: 10px;
}
.user__avatar-img {
  display: block;
  width: 50px;
  height: 50px;
}
.user__avatar-img source,
.user__avatar-img img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}
.user__info {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.user__name {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  text-transform: uppercase;
  color: #000;
}
.user__star {
  width: 51px;
  height: 25px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 6px;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
}
.user__star-img {
  width: 14px;
  height: 13px;
  object-fit: cover;
}
.user__arrow {
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  cursor: pointer;
  flex: 0 0 50px;
  position: relative;
  z-index: 5;
}
.user-list {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  width: max-content;
  padding: 15px 10px;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  text-align: right;
  z-index: 3;
}
.user-list:before {
  position: absolute;
  content: "";
  top: -20px;
  right: -1px;
  width: 51px;
  height: 40px;
  background: #fff;
  border-right: 1px solid rgba(166, 175, 185, 0.1);
  z-index: 4;
}
.user-list__item--link {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 9px 13px;
  border-radius: 25px;
  transition: color 0.1s ease-out, background 0.1s ease-out;
  position: relative;
  z-index: 5;
}
.user-list__item--link:hover {
  color: #fff;
  background: #A6AFB9;
}

.footer {
  background: #000;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 49px 0;
}
.footer__top-item {
  display: flex;
  flex-direction: column;
}
.footer__top-title {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 250%;
  text-transform: uppercase;
}
.footer__top-text {
  color: #A6AFB9;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 250%;
  text-transform: uppercase;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 47px 0;
  min-height: 250px;
}
.footer__bottom-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__bottom-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 25px;
}
.footer__bottom-nav--link {
  color: #A6AFB9;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 250%;
}
.footer__bottom-socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.footer__bottom-socials--img {
  width: 40px;
  height: 40px;
}
.footer__bottom-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__bottom-text {
  color: #A6AFB9;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.footer__bottom-text a {
  color: #3E80CE;
}
.footer__bottom-clients {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 31px;
}
.footer-line {
  display: block;
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background: #A6AFB9;
}

.hero {
  padding: 78px 0 0;
}
.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  max-width: 800px;
  margin-bottom: 42px;
}
.hero__btn {
  margin-bottom: 61px;
  padding: 12px 27px 13px 26px;
}
.hero__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.advantages {
  padding: 90px 0;
}
.advantages__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.advantages__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}
.advantages__item {
  max-width: 360px;
  min-height: 220px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  background: #FFF;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
}
.advantages__item:hover {
  border: 1px solid #3E80CE;
}
.advantages__item-img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 19px;
}
.advantages__item-title {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.advantages__logo {
  width: 250px;
  height: 183px;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}

.faqs {
  padding: 90px 0;
}
.faqs__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.faqs__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faqs__item {
  padding: 11px 26px 10px;
  border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #fff;
}
.faqs__item.active {
  border-color: #3E80CE;
}
.faqs__item-title {
  cursor: pointer;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.faqs__item-title.active {
  color: #3E80CE;
}
.faqs__item-title.active img {
  transform: rotate(180deg);
}
.faqs__item-text {
  display: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 11px 0;
  max-width: 556px;
}

.questions {
  padding: 0 0 116px;
}
.questions__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 60px 94px 65px;
  border-radius: 20px;
  border: 2px solid #3E80CE;
  background: #fff;
}
.questions__img-box {
  max-width: 325px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questions__img {
  width: 171px;
  height: 304px;
  object-fit: cover;
  object-position: center;
}
.questions .title {
  margin: 0;
  text-align: left;
}
.questions__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.clients {
  padding: 48px 0 53px;
}
.clients__title {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.clients__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__item-img {
  width: 88px;
  height: 88px;
  object-fit: contain;
  object-position: center;
}

.mail__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mail__content {
  padding: 84px 0;
  max-width: 490px;
  width: 100%;
}
.mail__title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 43px;
}
.mail__title--confirm {
  color: #3E80CE;
}
.mail__title--success {
  color: #B5E094;
}
.mail__text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.mail__text a {
  color: #FF8901;
}
.mail__text a:hover {
  text-decoration: underline;
}
.mail__text p + p {
  margin-top: 1em;
}

@media (max-width: 991px) {
  .title {
    font-size: 24px;
  }
  .header__nav-menu {
    height: 70px;
    border: none;
    border-radius: 0;
    justify-content: space-around;
    overflow: visible;
  }
  .header__nav-menu-link {
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 50%;
  }
  .header__nav-menu-link:last-child {
    width: 100%;
    border-radius: 40px;
  }
  .hero__title {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .element-dt {
    display: none;
  }
  .element-mb {
    display: block;
  }
  .logo-img {
    width: 120px;
  }
  .btn-lang {
    height: 35px;
    padding: 0 5px;
    min-width: unset;
  }
  .btn-lang__list {
    padding: 13px 5px 10px;
  }
  .footer__top {
    justify-content: center;
    text-align: center;
    padding: 30px 0;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0;
  }
  .footer__bottom-left {
    width: 100%;
    align-items: center;
  }
  .footer__bottom-nav {
    justify-content: center;
    margin-bottom: 30px;
  }
  .footer__bottom-right {
    width: 100%;
    align-items: center;
  }
  .footer__bottom-text {
    margin: 30px 0 35px;
  }
  .hero {
    padding: 30px 0 0;
  }
  .advantages {
    padding: 60px 0 30px;
  }
  .advantages__items {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .advantages__item {
    max-width: unset;
    width: 100%;
    min-height: 150px;
    padding: 20px;
  }
  .faqs {
    padding: 30px 0 60px;
  }
  .questions {
    padding: 0 0 30px;
  }
  .questions__inner {
    border: none;
    padding: 30px 100px;
  }
  .questions__img-box {
    display: none;
  }
  .questions__content {
    align-items: center;
  }
  .form {
    justify-content: center;
  }
  .form .agreement {
    text-align: center;
  }
  .clients__items {
    justify-content: space-around;
  }
}
@media (max-width: 540px) {
  .footer__bottom-clients {
    gap: 10px;
  }
}