@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-Regular.woff2), url(../fonts/Montserrat-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-Medium.woff2), url(../fonts/Montserrat-Medium.woff);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-SemiBold.woff2), url(../fonts/Montserrat-SemiBold.woff);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-Bold.woff2), url(../fonts/Montserrat-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-ExtraBold.woff2), url(../fonts/Montserrat-ExtraBold.woff);
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: montserrat, sans-serif;
  position: relative;
}

body.no-scroll {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  color: #3E80CE;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  background: #3E80CE;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 180%;
}
.btn:hover {
  background: rgba(62, 128, 206, 0.9);
}

.btn-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  background: #FF8901;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 180%;
}
.btn-orange:hover {
  background: rgba(255, 137, 1, 0.9);
}

.btn-line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  color: #3E80CE;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 180%;
  background: transparent;
  border: 2px solid #3E80CE;
  text-transform: uppercase;
}
.btn-line:hover {
  color: #fff;
  background-color: #3E80CE;
}

.element-dt {
  display: inline-block;
}
.element-mb {
  display: none;
}

.burger-btn {
  width: 40px;
  height: 40px;
  background-color: #3E80CE;
  position: relative;
  cursor: pointer;
  z-index: 55;
}
.burger-btn__line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 3px;
  background-color: #fff;
  transform-origin: center;
  transition: all 0.1s ease-out;
}
.burger-btn__line:first-child {
  top: calc(50% - 9px);
}
.burger-btn__line:last-child {
  top: calc(50% + 9px);
}
.burger-btn.active .burger-btn__line:first-child {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger-btn.active .burger-btn__line {
  opacity: 0;
}
.burger-btn.active .burger-btn__line:last-child {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.burger-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 260px;
  height: 100%;
  padding: 20px 10px;
  background: #fff;
  box-shadow: 2px 0 15px 0 rgba(0, 0, 0, 0.3);
}
.burger-menu.active {
  display: block;
}
.burger-menu .header__nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.burger-menu .user {
  margin-bottom: 15px;
}
.burger-menu .user__arrow {
  margin-left: 10px;
}
.burger-menu .header__nav-link {
  padding: 5px 0;
  font-size: 14px;
}
.burger-menu .header__nav-menu {
  width: 240px;
}
.burger-menu .header__nav-menu-link:last-child {
  font-size: 16px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
  max-width: 550px;
  width: 100%;
}
.form__item {
  max-width: 265px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.form__label {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.form__input {
  height: 46px;
  border-radius: 40px;
  border: 1px solid rgba(166, 175, 185, 0.5);
  color: #000;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 11px 16px;
}
.form .agreement {
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.form__button {
  padding: 12px 58px 13px 57px;
  max-width: 265px;
  width: 100%;
}
.form .iti__flag-container {
  left: 16px;
}
.form .iti--allow-dropdown input[type=tel] {
  padding-left: 60px;
}
.form .iti__selected-flag {
  padding: 0;
}
.form .iti__arrow {
  border: none;
  width: 12px;
  height: 10px;
  position: relative;
}
.form .iti__arrow::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 7px;
  content: "";
  background-image: url(../images/black-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.form .iti__country-list {
  left: -16px;
  width: 265px;
  border-radius: 10px;
  top: 50px;
  border: 1px solid rgba(166, 175, 185, 0.5);
}
.form .iti__country-list::-webkit-scrollbar {
  display: none;
}
.form .iti__country {
  padding: 10px 16px;
}
.form .iti__country:hover {
  background: rgba(166, 175, 185, 0.5);
}
.form__checkbox-custom {
  display: block;
  min-width: 28px;
  height: 28px;
  border-radius: 3px;
  border: 1px solid rgba(166, 175, 185, 0.5);
  background-color: #fff;
  cursor: pointer;
  position: relative;
}
.form__checkbox-custom::before {
  position: absolute;
  content: "";
  width: 15.273px;
  height: 11.553px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/checkbox-check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
}
.form__element {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.form__element input[type=checkbox]:checked + .form__checkbox-custom:before {
  display: block;
}
.form__element .form__checkbox-text {
  cursor: pointer;
}
.form__element a {
  color: #3E80CE;
  font-size: inherit;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.form__element a:hover {
  text-decoration: underline;
}

.form-group .dropdown {
  position: relative;
}
.form-group .dropdown__button {
  position: relative;
  display: block;
  width: 265px;
  text-align: left;
  background: #FFFFFF;
  border: 1px solid rgba(166, 175, 185, 0.5);
  border-radius: 40px;
  height: 46px;
  margin-top: 6px;
  padding: 11px 16px;
  cursor: pointer;
}
.form-group .dropdown__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 9px;
  height: 7px;
  background-image: url(../images/black-arrow.svg);
  pointer-events: none;
}
.form-group .dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  top: 80px;
  margin: 0;
  padding: 10px;
  list-style-type: none;
  background: #FFFFFF;
  border: 1px solid rgba(166, 175, 185, 0.5);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  z-index: 1;
}
.form-group .dropdown__list--visible {
  display: block;
}
.form-group .dropdown__list-item {
  margin: 0;
  padding: 0;
  border-bottom: 0px;
  padding: 13px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 9px 13px;
  border-radius: 25px;
  transition: color 0.1s ease-out, background 0.1s ease-out;
  position: relative;
  z-index: 5;
}
.form-group .dropdown__list-item:hover {
  color: #fff;
  background: #A6AFB9;
}
.form-group .dropdown__input-hidden {
  display: none;
}

.header {
  border-bottom: 1px rgba(166, 175, 185, 0.2) solid;
}
.header__inner {
  min-height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.header-tringle {
  width: 12px;
  height: 10px;
  fill: #3E80CE;
  z-index: 5;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3px 0 18px;
}
.header__nav-link {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  text-transform: uppercase;
  transition: color 0.1s ease-out;
}
.header__nav-link:hover {
  color: #3E80CE;
}
.header__nav-menu {
  width: 267px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid rgba(166, 175, 185, 0.5);
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.header__nav-menu-link {
  width: 50px;
  height: 100%;
  border-right: 1px solid rgba(166, 175, 185, 0.5);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  transition: color 0.1s ease-out, background 0.1s ease-out;
}
.header__nav-menu-link:hover {
  color: #3E80CE;
  background: rgba(166, 175, 185, 0.2);
}
.header__nav-menu-link:last-child {
  border: none;
  width: calc(100% - 150px);
}
.header__nav-menu-img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.logo-link {
  display: block;
  margin-right: auto;
}
.logo-img {
  width: 146px;
  height: auto;
  object-fit: cover;
}

.btn-login {
  padding: 12px 42px 13px 43px;
  text-transform: uppercase;
  width: fit-content;
}
.btn-lang {
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  color: #3E80CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  cursor: pointer;
  position: relative;
  z-index: 3;
  padding: 0px 10px;
  min-width: 168px;
}
.btn-lang:hover {
  background: unset;
}
.btn-lang__img {
  width: 22px;
  height: 22px;
  object-fit: cover;
  z-index: 5;
}
.btn-lang__text {
  z-index: 5;
}
.btn-lang__list {
  width: 100%;
  padding: 30px 5px 10px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 25px;
  border-radius: 0 0 25px 25px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  z-index: 4;
  display: none;
}
.btn-lang__item--link {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 3px 10px;
  border-radius: 25px;
  transition: color 0.1s ease-out, background 0.1s ease-out;
}
.btn-lang__item--link:hover {
  color: #fff;
  background: #A6AFB9;
}
.btn-lang__item--mb {
  display: none;
}

.user {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 50px;
  max-width: 286px;
}
.user__avatar {
  display: block;
  margin-right: 10px;
}
.user__avatar-img {
  display: block;
  width: 50px;
  height: 50px;
}
.user__avatar-img source,
.user__avatar-img img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}
.user__info {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.user__name {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  text-transform: uppercase;
  color: #000;
}
.user__star {
  width: 51px;
  height: 25px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 6px;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
}
.user__star-img {
  width: 14px;
  height: 13px;
  object-fit: cover;
}
.user__arrow {
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  cursor: pointer;
  flex: 0 0 50px;
  position: relative;
  z-index: 5;
}
.user-list {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  width: max-content;
  padding: 15px 10px;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  text-align: right;
  z-index: 3;
}
.user-list:before {
  position: absolute;
  content: "";
  top: -20px;
  right: -1px;
  width: 51px;
  height: 40px;
  background: #fff;
  border-right: 1px solid rgba(166, 175, 185, 0.1);
  z-index: 4;
}
.user-list__item--link {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 9px 13px;
  border-radius: 25px;
  transition: color 0.1s ease-out, background 0.1s ease-out;
  position: relative;
  z-index: 5;
}
.user-list__item--link:hover {
  color: #fff;
  background: #A6AFB9;
}

.footer {
  background: #000;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 49px 0;
}
.footer__top-item {
  display: flex;
  flex-direction: column;
}
.footer__top-title {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 250%;
  text-transform: uppercase;
}
.footer__top-text {
  color: #A6AFB9;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 250%;
  text-transform: uppercase;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 47px 0;
  min-height: 250px;
}
.footer__bottom-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__bottom-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 25px;
}
.footer__bottom-nav--link {
  color: #A6AFB9;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 250%;
}
.footer__bottom-socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.footer__bottom-socials--img {
  width: 40px;
  height: 40px;
}
.footer__bottom-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__bottom-text {
  color: #A6AFB9;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.footer__bottom-text a {
  color: #3E80CE;
}
.footer__bottom-clients {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 31px;
}
.footer-line {
  display: block;
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background: #A6AFB9;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 112;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
}
.overlay.back {
  background: rgba(0, 0, 0, 0.4);
}
.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  max-width: 1000px;
  width: fit-content;
  min-height: 250px;
  padding: 42px 0 0;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup__title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.popup .close {
  position: absolute;
  width: 11.5px;
  height: 11.5px;
  top: 30px;
  right: 30px;
  opacity: 1;
  font-size: 27px;
  line-height: 50%;
  font-weight: bold;
  text-decoration: none;
  color: #FF8901;
}
.popup .close:hover {
  opacity: 1;
}
.popup .content {
  max-height: 100%;
  overflow: auto;
}

.popup-registration {
  max-width: 550px;
  padding: 59px 95px 30px;
}
.popup-registration__descr {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
}
.popup-registration__descr-item {
  position: relative;
  padding-left: 26px;
  color: var(--secondary-darkest, #000);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}
.popup-registration__descr-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url(../images/funds-check.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.popup-registration .btn {
  margin-left: auto;
  display: block;
  width: fit-content;
}
.popup-registration .form {
  gap: 16px;
  margin-bottom: 18px;
}
.popup-registration .form__item {
  max-width: 100%;
}
.popup-registration .form__label, .popup-registration .form__checkbox-text {
  font-size: 13px;
}
.popup-registration .form__label span {
  color: #FF8901;
}
.popup-registration .form__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-registration .form__element {
  margin-bottom: 13px;
}
.popup-registration .form__element .form__checkbox-text {
  white-space: nowrap;
}
.popup-registration .form__btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}
.popup-registration .captcha {
  max-width: fit-content;
  margin-bottom: 10px;
}
.popup-registration .captcha img {
  width: 100%;
}
.popup-registration .popup-btn {
  padding: 12px 34px 13px 33px;
  text-transform: uppercase;
  margin: 0;
}
.popup-registration .btn-text {
  color: #3E80CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  text-transform: uppercase;
  flex: 0 0 171px;
}

.popup-nav {
  max-width: 550px;
  padding: 36px 30px 56px;
}

.popup-nav .popup__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 23px 40px;
  min-height: 50px;
  border-radius: 40px;
  border: 1px solid rgba(166, 175, 185, 0.5);
  background: #fff;
}
.popup-nav .popup__nav-link {
  display: inline-block;
  color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;
}
.popup-nav .popup__nav-link.active {
  background: rgba(62, 128, 206, 0.05);
}
.popup-nav .popup__nav-link:nth-child(2) {
  border-left: 1px solid rgba(166, 175, 185, 0.5);
  border-right: 1px solid rgba(166, 175, 185, 0.5);
}
.popup-nav .popup__nav-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.popup-nav .popup__content-title {
  color: #3E80CE;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 20px;
}
.popup-nav .popup__content-text {
  margin-bottom: 40px;
}
.popup-nav .popup__content-text p {
  color: #A6AFB9;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.popup-nav .popup__content-text p + p {
  margin-top: 1em;
}
.popup-nav .popup-btn {
  width: 253px;
  text-transform: uppercase;
  margin: 0 auto;
}
.popup-nav .popup-btn:not(:last-child) {
  margin-bottom: 20px;
}

.popup-certificate-how {
  max-width: 550px;
  padding: 40px 30px 63px;
}
.popup-certificate-how .popup-text {
  color: #A6AFB9;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 40px;
}
.popup-certificate-how .popup-text p + p {
  margin-top: 1em;
}
.popup-certificate-how .popup-btn {
  padding: 12px 55.5px 13px 53.5px;
  width: fit-content;
  margin: 0 auto;
}

.popup-certificate {
  max-width: 990px;
  padding: 38px 106px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.popup-certificate .popup-certificate__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.popup-certificate .popup-btn {
  width: fit-content;
  padding: 12px 37.5px 13px 36.5px;
  text-transform: uppercase;
  margin-right: auto;
}
.popup-certificate .share {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.popup-certificate .share span {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.popup-certificate .share__items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.popup-certificate .share__item-img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 5px;
}

.popup-result {
  max-width: 550px;
  padding: 42px 95px 64px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.popup-result .popup-result__level-box {
  width: 100%;
  padding: 18px 26px;
  min-height: 110px;
  border-radius: 25px;
  border: 1px solid rgba(166, 175, 185, 0.5);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.popup-result .popup-result__level-title {
  color: #3E80CE;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.popup-result .popup-result__level-text {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.popup-result .popup-result__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popup-result .popup-result__list-item {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-result .popup-result__list-item span {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.popup-result .popup-result__list-item.success span {
  color: #B5E094;
}
.popup-result .popup-result__list-item.failed span {
  color: #FF8C7D;
}
.popup-result .popup-btn {
  text-transform: uppercase;
}

.hero {
  padding: 78px 0 0;
}
.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  max-width: 800px;
  margin-bottom: 42px;
}
.hero__btn {
  margin-bottom: 61px;
  padding: 12px 27px 13px 26px;
}
.hero__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.advantages {
  padding: 90px 0;
}
.advantages__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.advantages__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}
.advantages__item {
  max-width: 360px;
  min-height: 220px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  background: #FFF;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
}
.advantages__item:hover {
  border: 1px solid #3E80CE;
}
.advantages__item-img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 19px;
}
.advantages__item-title {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.advantages__logo {
  width: 250px;
  height: 183px;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}

.faqs {
  padding: 90px 0;
}
.faqs__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.faqs__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faqs__item {
  padding: 11px 26px 10px;
  border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #fff;
}
.faqs__item.active {
  border-color: #3E80CE;
}
.faqs__item-title {
  cursor: pointer;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.faqs__item-title.active {
  color: #3E80CE;
}
.faqs__item-title.active img {
  transform: rotate(180deg);
}
.faqs__item-text {
  display: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 11px 0;
  max-width: 556px;
}

.questions {
  padding: 0 0 116px;
}
.questions__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 60px 94px 65px;
  border-radius: 20px;
  border: 2px solid #3E80CE;
  background: #fff;
}
.questions__img-box {
  max-width: 325px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questions__img {
  width: 171px;
  height: 304px;
  object-fit: cover;
  object-position: center;
}
.questions .title {
  margin: 0;
  text-align: left;
}
.questions__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.clients {
  padding: 48px 0 53px;
}
.clients__title {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.clients__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__item-img {
  width: 88px;
  height: 88px;
  object-fit: contain;
  object-position: center;
}

.progress {
  padding: 41px 0 87px;
  background: rgba(62, 128, 206, 0.05);
  position: relative;
}
.progress .mistake {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  text-transform: uppercase;
  width: 154px;
  height: 30px;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  background: #3E80CE;
  position: fixed;
  z-index: 12;
  top: 200px;
  left: -65px;
  cursor: pointer;
}
.progress__title {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 41px;
}
.progress__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.progress__item {
  width: 100%;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}
.progress__item-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px 27px;
  padding: 10px 24px 10px 26px;
  cursor: pointer;
}
.progress__item-topbar.active .progress__item-title {
  color: #3E80CE;
}
.progress__item-topbar.active img {
  transform: rotate(180deg);
}
.progress__item-title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  text-transform: uppercase;
}
.progress__item-content {
  padding: 30px 25px 35px;
  display: none;
}
.progress__list {
  display: flex;
  flex-direction: column;
}
.progress__list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid rgba(166, 175, 185, 0.2);
}
.progress__lesson-title {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  text-transform: uppercase;
  margin-right: 19px;
  flex: 0 0 56px;
}
.progress__lesson-text {
  color: #A6AFB9;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  text-transform: uppercase;
  width: auto;
  margin-right: auto;
}
.progress__lesson-status-box {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  padding-left: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-right: 25px;
  height: 36px;
}
.progress__lesson-status-box::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.progress__lesson-status-box--success {
  color: #B5E094;
}
.progress__lesson-status-box--success::before {
  background-image: url(../images/progress-success.svg);
}
.progress__lesson-status-box--failed {
  color: #FF8C7D;
}
.progress__lesson-status-box--failed::before {
  background-image: url(../images/progress-failed.svg);
}
.progress__lesson-status {
  width: 100px;
}
.progress__lesson-scores {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-right: 14px;
  min-width: 75px;
}
.progress__lesson-btn {
  min-width: 168px;
  height: 30px;
  padding: 3.2px 0 3.8px;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 180%;
  text-transform: uppercase;
}
.progress__lesson-btn--again {
  color: #fff;
  border-radius: 25px;
  background-color: #3E80CE;
  padding-left: 30px;
  padding-right: 10px;
  position: relative;
}
.progress__lesson-btn--again::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/again.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.progress__lesson-btn--start {
  color: #3E80CE;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}
.progress__lesson-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 38px;
}
.progress__lesson-btn-cerificate {
  max-width: 500px;
  width: fit-content;
  height: 87px;
  padding: 0 28px 0 114px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  border-radius: 10px;
  border: 1px solid rgba(166, 175, 185, 0.5);
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 180%;
  text-transform: uppercase;
  position: relative;
}
.progress__lesson-btn-cerificate svg {
  fill: #FF8901;
  width: 10px;
  height: 8px;
  transform: rotate(-90deg);
}
.progress__lesson-btn-cerificate::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 64px;
  top: 17px;
  left: 26px;
  background-image: url(../images/certificate.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.progress__lesson-btn-start-test {
  width: fit-content;
  height: 87px;
  padding: 0 32px 0 34px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  border-radius: 10px;
  background: #3E80CE;
  border: 1px solid #3E80CE;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 180%;
  text-transform: uppercase;
}
.progress__lesson-btn-start-test svg {
  fill: #fff;
  width: 10px;
  height: 8px;
  transform: rotate(-90deg);
}

.progress-box {
  position: relative;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.progress-ring {
  position: absolute;
  top: 0;
  left: 0;
}
.progress-ring--0 {
  z-index: 0;
}
.progress-ring--1 {
  z-index: 10;
}

.progress-ring__circle {
  transform-origin: center;
  transform: rotate(-90deg) scale(1, -1);
}
.progress-ring__circle--0 {
  stroke: rgba(166, 175, 185, 0.3);
}

.percent {
  width: 40px;
  margin-left: 14px;
  font-family: montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.percent-text {
  position: absolute;
  left: 58px;
  top: 50%;
  transform: translateY(-50%);
  width: max-content;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.lesson {
  padding: 40px 0 100px;
}
.lesson__title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 22px;
}
.lesson__topbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 45px;
}
.lesson__numb {
  color: #A6AFB9;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.lesson__level {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  text-transform: uppercase;
  margin-right: auto;
}
.lesson__btn-next {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  text-transform: uppercase;
  border-radius: 25px;
  background: #3E80CE;
  padding: 2.2px 15px 2.8px;
  height: 30px;
}
.lesson__selected-1 {
  width: 100%;
  padding: 30px 25px;
  border-radius: 10px 10px 0 0;
  background: rgba(62, 128, 206, 0.05);
  display: flex;
  justify-content: space-between;
}
.lesson__selected-1-item {
  width: 16.66%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  background: transparent;
}
.lesson__selected-1-item img {
  display: block;
  margin: 0 auto 20px;
  width: auto;
  height: 32px;
  object-fit: cover;
}
.lesson__selected-1-item.selected {
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14);
  position: relative;
}
.lesson__selected-1-item.selected:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -4px;
  bottom: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 7.5px 0 7.5px;
  border-color: #ffffff transparent transparent transparent;
}
.lesson__selected-1-title {
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  line-height: 1.2;
}
.lesson__selected-2 {
  width: 100%;
  min-height: 44px;
  background: #39474f;
  border-radius: 0 0 10px 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lesson__selected-2-item {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
  font-weight: 600;
  color: #c0cbd1;
  font-size: 16px;
  background: transparent;
}
.lesson__selected-2-item:hover {
  text-decoration: underline;
}
.lesson__selected-2-item.selected {
  color: #fff;
  position: relative;
}
.lesson__selected-2-item.selected:hover {
  text-decoration: none;
}
.lesson__selected-2-item.selected:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -4px;
  bottom: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 7.5px 0 7.5px;
  border-color: #39474f transparent transparent transparent;
}
.lesson__items-head {
  min-height: 90px;
  border-radius: 25px;
  background: rgba(62, 128, 206, 0.05);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
  padding: 20px 32px 20px 50px;
}
.lesson__items-head-icon {
  width: 20px;
  height: 23px;
  object-fit: cover;
}
.lesson__items-head-title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}
.lesson__items-head-text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-right: auto;
}
.lesson__items-head-btn {
  color: #3E80CE;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  text-transform: uppercase;
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}
.lesson__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.lesson__item {
  border-radius: 25px;
  border: 1px solid rgba(166, 175, 185, 0.5);
  padding: 30px 37px 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.lesson__item h3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 20px;
}
.lesson__item.failed {
  border: 2px solid rgba(255, 140, 125, 0.5);
}
.lesson__item.failed h3 {
  color: #FF8C7D;
}
.lesson__item.success {
  border: 2px solid rgba(181, 224, 148, 0.5);
}
.lesson__item.success h3 {
  color: #B5E094;
}
.lesson__item-radio-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.lesson__item-radio-box input[type=radio]:checked + .lesson__item-radio-label:before {
  width: 14px;
  height: 14px;
}
.lesson__item-radio-label {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(62, 128, 206, 0.05);
  position: relative;
  cursor: pointer;
}
.lesson__item-radio-label::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #3E80CE;
}
.lesson__item-radio-text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
}
.lesson__item-radio-text span {
  font-weight: 500;
}
.lesson__item-radio-text.success {
  color: #B5E094;
}
.lesson__item-radio-text.failed {
  color: #FF8C7D;
}
.lesson__items-btn {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 180%;
  text-transform: uppercase;
  min-width: 178px;
  width: fit-content;
}

.input-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: 0;
  padding: 0;
  border: none;
}

.profile__inner {
  display: flex;
  gap: 20px;
  padding: 40px 0 150px;
}

.profile__main {
  width: 100%;
}

.profile__title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 40px;
}

.profile__content {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.profile__head {
  display: flex;
  gap: 28px;
}

.profile__avatar-img {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  overflow: hidden;
}

.profile__head-content {
  display: flex;
  flex-direction: column;
}

.profile__head-name {
  color: #3E80CE;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 13px;
}

.profile__head-block {
  display: flex;
  gap: 40px;
  margin-bottom: 16px;
}

.profile__head-company {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.profile__head-registration {
  display: flex;
  flex-direction: column;
  color: #A6AFB9;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.btn--profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 220px;
  text-transform: uppercase;
  padding: 12px;
}
.btn--profile svg {
  width: 24px;
  height: 24px;
  fill: #3E80CE;
}
.btn--profile:hover svg {
  fill: #fff;
}

.profile__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile__body-title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.profile__body .btn {
  max-width: 321px;
  text-transform: uppercase;
  padding: 12px;
}

.profile__statistics-top,
.profile__statistics-bottom {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background: rgba(62, 128, 206, 0.05);
  padding: 25px 36px 27px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.profile__statistics-item {
  width: 33%;
}

.profile__statistics-title {
  display: flex;
  color: #000;
  margin-bottom: 26px;
}

.profile__statistics-border {
  width: 100%;
  height: 1px;
  background: #A6AFB9;
  margin-bottom: 20px;
}

.profile__statistics-count {
  display: flex;
  color: #3E80CE;
}
.profile__statistics-count p {
  border-radius: 25px;
  background: #fff;
  padding: 16px 25px 17px 21px;
  width: fit-content;
}

.profile__statistics-bottom .profile__statistics-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile__statistics-bottom .profile__statistics-title .profile__statistics-item:last-child {
  width: 50%;
}
.profile__statistics-bottom .profile__statistics-count .profile__statistics-item:last-child {
  width: 50%;
}

.profile__statistics-bottom .profile__statistics-title p {
  max-width: 75%;
}

.profile__statistics-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 25px;
  background: #fff;
  padding: 16px 25px 17px 21px;
  color: #3E80CE;
}

.profile__sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 360px;
  width: 100%;
}

.profile__sidebar-title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 15px;
}

.profile__sidebar-item {
  padding: 20px;
  border-radius: 25px;
  border: 1px solid rgba(166, 175, 185, 0.5);
}

.profile__sidebar-head {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 30px;
}

.profile__sidebar-img {
  width: 56px;
  height: 59px;
}

.profile__sidebar-col {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.profile__sidebar-col--title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.profile__sidebar-col--title2 {
  color: #022A4A;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.profile__sidebar-col--text {
  color: #3E80CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.profile__sidebar-item .btn {
  text-transform: uppercase;
}

.profile__sidebar-border {
  width: 100%;
  height: 1px;
  background: rgba(166, 175, 185, 0.5);
  margin-bottom: 22px;
}

.profile__sidebar-curator {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.profile__sidebar-curator--title {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.profile__sidebar-curator--link {
  color: #3E80CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 9px;
}

.profile__sidebar-curator--link:last-child {
  margin-bottom: 18px;
}

.profile__sidebar-curator--profile {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 13px;
}

.profile__sidebar-curator--avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.profile__sidebar-curator--name {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.profile__sidebar-timer {
  display: flex;
  align-items: center;
  gap: 17px;
  border-radius: 25px;
  background: rgba(62, 128, 206, 0.05);
  padding: 11px 21px;
}

.profile__sidebar-timer--block {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.profile__sidebar-timer--item {
  display: flex;
  align-items: center;
  gap: 11px;
}

.profile__sidebar-timer--time {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.profile__sidebar-timer--text {
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.profile__sidebar-timer--period {
  color: #FF8901;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.edit__inner {
  padding: 40px 0 87px;
}

.edit__title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 40px;
}

.edit__avatar {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-bottom: 26px;
}

.edit__avatar-img {
  width: 116px;
  height: 116px;
  object-fit: cover;
  border-radius: 50%;
}

.edit__label {
  color: #3E80CE;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 180%;
  text-transform: uppercase;
  padding: 5px 18px;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.edit__input {
  display: none;
}

.edit__data {
  margin-bottom: 48px;
}

.edit__data-title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 25px;
}

.edit__form-data {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 360px;
  width: 100%;
}

.edit__data-label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.edit__data-input {
  border-radius: 40px;
  border: 1px solid rgba(166, 175, 185, 0.5);
  padding: 11px 20px;
}

.edit__border {
  width: 100%;
  height: 1px;
  background: rgba(166, 175, 185, 0.2);
  margin-bottom: 48px;
}

.edit__data .btn {
  text-transform: uppercase;
  padding: 12px 0;
  max-width: 214px;
  width: 100%;
}

.rating {
  background: rgba(62, 128, 206, 0.05);
}

.rating__inner {
  padding: 24px 0 100px;
}

.controls__back {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #3E80CE;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.controls__back svg {
  width: 15px;
  height: 17px;
}

.rating__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.rating__title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 21px 0 32px 0;
}

.rating__head-item {
  display: flex;
  align-items: center;
  gap: 26px;
}

.rating__head-img {
  width: 56px;
  height: 59px;
}

.rating__head-col {
  display: flex;
  flex-direction: column;
}

.rating__head-col--title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.rating__head-col--text {
  color: #3E80CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.rating__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 51px;
}

.rating__item-row {
  display: flex;
  align-items: center;
}

.rating__item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  height: 50px;
  padding: 10px 12px 10px 26px;
  position: relative;
}

.rating__item-you::before {
  content: "";
  background-image: url(../images/black-arrow.svg);
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  width: 12px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -5px;
}

.rating__place {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  text-transform: uppercase;
  margin-right: 21px;
}

.rating__item-avatar {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 17px;
}

.rating__name {
  color: #3E80CE;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  text-transform: uppercase;
  margin-right: 41px;
}

.rating__item:nth-child(1) {
  border: 2px solid #F9CA24;
}
.rating__item:nth-child(1) .rating__name {
  color: #E2B517;
}

.rating__item:nth-child(2) {
  border: 2px solid #B9BDC3;
}
.rating__item:nth-child(2) .rating__name {
  color: #97A0AE;
}

.rating__item:nth-child(3) {
  border: 2px solid #E08129;
}
.rating__item:nth-child(3) .rating__name {
  color: #E08129;
}

.rating__item-you .rating__name {
  color: #000;
}

.rating__score-star {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 9px;
}

.rating__score {
  color: #FF8901;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  text-transform: uppercase;
  margin-right: 21px;
  display: flex;
  align-items: center;
}

.rating__item-row .btn {
  width: 114px;
  height: 30px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  text-transform: uppercase;
}

.btn--rating {
  max-width: 180px;
  width: 100%;
  margin: 0 auto;
  text-transform: uppercase;
}

.mail__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mail__content {
  padding: 84px 0;
  max-width: 490px;
  width: 100%;
}
.mail__title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 43px;
}
.mail__title--confirm {
  color: #3E80CE;
}
.mail__title--success {
  color: #B5E094;
}
.mail__text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.mail__text a {
  color: #FF8901;
}
.mail__text a:hover {
  text-decoration: underline;
}
.mail__text p + p {
  margin-top: 1em;
}

@media (max-height: 1000px) {
  #popup-registration .popup {
    margin: 50px 0;
  }
}
@media (max-width: 991px) {
  .title {
    font-size: 24px;
  }
  .header__nav-menu {
    height: 70px;
    border: none;
    border-radius: 0;
    justify-content: space-around;
    overflow: visible;
  }
  .header__nav-menu-link {
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 50%;
  }
  .header__nav-menu-link:last-child {
    width: 100%;
    border-radius: 40px;
  }
  .hero__title {
    font-size: 28px;
  }
  .progress__title {
    font-size: 28px;
  }
  .progress__list-item {
    flex-wrap: wrap;
  }
  .progress__lesson-text {
    width: calc(100% - 75px);
  }
  .progress__lesson-status-box {
    margin-left: 75px;
  }
  .profile__inner {
    flex-direction: column;
    gap: 40px;
  }
  .profile__sidebar {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }
  .profile__sidebar-block:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .profile__sidebar-block:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .profile__sidebar-block:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media (max-width: 768px) {
  .element-dt {
    display: none;
  }
  .element-mb {
    display: block;
  }
  .logo-img {
    width: 120px;
  }
  .btn-lang {
    height: 35px;
    padding: 0 5px;
    min-width: unset;
  }
  .btn-lang__list {
    padding: 13px 5px 10px;
  }
  .footer__top {
    justify-content: center;
    text-align: center;
    padding: 30px 0;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0;
  }
  .footer__bottom-left {
    width: 100%;
    align-items: center;
  }
  .footer__bottom-nav {
    justify-content: center;
    margin-bottom: 30px;
  }
  .footer__bottom-right {
    width: 100%;
    align-items: center;
  }
  .footer__bottom-text {
    margin: 30px 0 35px;
  }
  .hero {
    padding: 30px 0 0;
  }
  .advantages {
    padding: 60px 0 30px;
  }
  .advantages__items {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .advantages__item {
    max-width: unset;
    width: 100%;
    min-height: 150px;
    padding: 20px;
  }
  .faqs {
    padding: 30px 0 60px;
  }
  .questions {
    padding: 0 0 30px;
  }
  .questions__inner {
    border: none;
    padding: 30px 100px;
  }
  .questions__img-box {
    display: none;
  }
  .questions__content {
    align-items: center;
  }
  .form {
    justify-content: center;
  }
  .form .agreement {
    text-align: center;
  }
  .clients__items {
    justify-content: space-around;
  }
  .lesson__selected-1 {
    flex-wrap: wrap;
    gap: 5px;
  }
  .lesson__selected-1-item {
    width: calc(33.33% - 5px);
  }
  .lesson__selected-2 {
    flex-wrap: wrap;
  }
  .rating__item {
    align-items: flex-start;
    height: auto;
  }
  .rating__name {
    font-size: 14px;
    margin-right: 21px;
  }
  .rating__score {
    margin-right: 9px;
  }
  .rating__item-row:last-child {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .footer__bottom-clients {
    gap: 10px;
  }
  .progress__list-item {
    flex-direction: column;
    gap: 10px 0;
  }
  .progress__lesson-title {
    margin-right: auto;
    flex: 0 0 10px;
  }
  .progress__lesson-text {
    width: 100%;
    margin: 0;
  }
  .progress__lesson-status-box {
    margin: 0 auto 0 0;
  }
  .progress__lesson-scores {
    margin: 0 auto 0 0;
  }
  .lesson__item {
    padding: 20px;
  }
  .popup-certificate {
    padding: 38px 30px 48px;
  }
  .popup-result,
  .popup-certificate-how {
    padding: 30px;
  }
  .popup-nav {
    padding: 30px 10px;
  }
  .popup-nav .popup__nav {
    flex-direction: column;
    width: fit-content;
    margin: 0 auto 40px;
    border-radius: 15px;
  }
  .popup-nav .popup__nav-link:nth-child(2) {
    border-left: none;
    border-right: none;
    border-top: 1px solid rgba(166, 175, 185, 0.5);
    border-bottom: 1px solid rgba(166, 175, 185, 0.5);
  }
  .popup-nav .popup__nav-link {
    width: 100%;
  }
  .popup-registration {
    padding: 59px 30px 30px;
  }
  .popup-registration .form__element .form__checkbox-text {
    white-space: normal;
  }
  .rating__item {
    flex-direction: column;
  }
  .rating__item-row:last-child {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .rating__score {
    font-size: 12px;
  }
  .rating__item-row .btn {
    height: 25px;
    font-size: 12px;
    width: 100px;
  }
  .rating__inner {
    padding: 24px 0 50px;
  }
  .rating__head {
    flex-direction: column;
    align-items: center;
  }
  .profile__inner {
    padding: 40px 0 50px;
  }
  .profile__sidebar {
    display: flex;
  }
  .profile__head-block {
    flex-direction: column;
    gap: 20px;
  }
  .profile__statistics-top,
  .profile__statistics-bottom {
    font-size: 12px;
    padding: 20px;
  }
  .profile__statistics-top .profile__statistics-item p {
    max-width: 100%;
  }
  .profile__statistics-title,
  .profile__statistics-count {
    gap: 10px;
  }
  .profile__statistics-title,
  .profile__statistics-border {
    margin-bottom: 15px;
  }
  .profile__statistics-count p {
    padding: 10px 20px;
  }
  .profile__statistics-top,
  .profile__statistics-top,
  .profile__statistics-top,
  .profile__statistics-bottom {
    font-size: 10px;
  }
  .profile__head {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .progress__item-topbar {
    flex-wrap: wrap;
    padding: 10px 15px;
  }
  .progress__item-content {
    padding: 20px 15px;
  }
  .progress-box {
    padding-right: 100px;
    order: 1;
  }
  .progress__lesson-btn-cerificate {
    width: 100%;
    padding: 0 20px 0 90px;
    font-size: 10px;
    height: 70px;
  }
  .progress__lesson-btn-cerificate svg {
    width: 15px;
  }
  .progress__lesson-btn-cerificate::before {
    top: 2px;
    left: 15px;
  }
  .progress__lesson-btn-start-test {
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
    font-size: 10px;
    height: 70px;
  }
  .lesson__selected-1-item {
    width: calc(50% - 2.5px);
  }
  .lesson__items-head {
    padding: 20px;
  }
  .lesson__items-head-btn {
    width: 100%;
  }
  .lesson__items-btn {
    width: 100%;
  }
  .popup {
    border-radius: 15px;
    padding: 50px 0 0;
  }
  .popup-certificate {
    padding: 30px 10px 30px;
    gap: 20px;
  }
  .popup-certificate .popup-btn {
    width: 100%;
  }
  .popup-certificate .share {
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .popup-certificate .share span {
    width: 100%;
  }
  .popup-result,
  .popup-certificate-how,
  .popup-registration {
    padding: 25px 20px;
  }
  .popup-certificate-how .popup-btn {
    width: 100%;
  }
  .popup-registration .form__btns {
    flex-wrap: wrap;
    justify-content: center;
  }
  .popup-registration .popup-btn {
    width: 100%;
  }
  .btn--profile,
  .profile__body .btn {
    margin: 0 auto;
  }
  .profile__statistics-count p {
    padding: 10px;
    font-size: 12px;
  }
}