<section style="display: none;">
  <div id="faq-item-1"><h4 id="faq-title-1"></h4></div>
  <div id="faq-item-2"><h4 id="faq-title-2"></h4></div>
  <div id="faq-item-3"><h4 id="faq-title-3"></h4></div>
  <div id="faq-item-4"><h4 id="faq-title-4"></h4></div>
  <div id="faq-item-5"><h4 id="faq-title-5"></h4></div>
  <input id="phone" type="tel">
  <svg><circle class="progress-ring__circle-1" /></svg><input class="percent-1">
  <svg><circle class="progress-ring__circle-2" /></svg><input class="percent-2">
  <svg><circle class="progress-ring__circle-3" /></svg><input class="percent-3">
  <svg><circle class="progress-ring__circle-4" /></svg><input class="percent-4">
  <svg><circle class="progress-ring__circle-5" /></svg><input class="percent-5">
</section>