<footer class="footer">
  <div class="footer__Inner">
    <div class="container">
      <div class="footer__top">
        <div class="footer__top-item element-dt">
          <a class="footer__top-title" href="#!">Форум</a>
          <a class="footer__top-text" href="#!">Lorem ipsum dolor</a>
          <a class="footer__top-text" href="#!">Lorem ipsum</a>
          <a class="footer__top-text" href="#!">Lorem ipsum dolor</a>
          <a class="footer__top-text" href="#!">Lorem ipsum</a>
          <a class="footer__top-text" href="#!">Lorem ipsum dolor</a>
          <a class="footer__top-text" href="#!">Lorem ipsum</a>
        </div>
        <div class="footer__top-item element-dt">
          <a class="footer__top-title" href="#!">баннеры</a>
          <a class="footer__top-text" href="#!">Lorem ipsum dolor</a>
          <a class="footer__top-text" href="#!">Lorem ipsum</a>
          <a class="footer__top-text" href="#!">Lorem ipsum dolor</a>
          <a class="footer__top-text" href="#!">Lorem ipsum</a>
          <a class="footer__top-text" href="#!">Lorem ipsum dolor</a>
          <a class="footer__top-text" href="#!">Lorem ipsum</a>
        </div>
        <div class="footer__top-item element-dt">
          <a class="footer__top-title" href="#!">Помощь по сайту</a>
          <a class="footer__top-text" href="#!">Lorem ipsum dolor</a>
          <a class="footer__top-text" href="#!">Lorem ipsum</a>
          <a class="footer__top-text" href="#!">Lorem ipsum dolor</a>
          <a class="footer__top-text" href="#!">Lorem ipsum</a>
          <a class="footer__top-text" href="#!">Lorem ipsum dolor</a>
          <a class="footer__top-text" href="#!">Lorem ipsum</a>
        </div>
        <div class="footer__top-item">
          <a class="footer__top-title" href="#!">контакты</a>
          <a class="footer__top-text" href="tel:+77172272609">Тел: +7 (7172) 27-26-09</a>
          <a class="footer__top-text" href="mailto:info@qazaq-found.kz">Эл. почта: info@qazaq-found.kz</a>
          <br>
          <span class="footer__top-text" href="#!">010000, г. Нур-Султан</span>
          <span class="footer__top-text" href="#!">ул. Кунаева 12/1, каб.415</span>
        </div>
      </div>
    </div>
    <span class="footer-line"></span>
    <div class="container">
      <div class="footer__bottom">
        <div class="footer__bottom-left">
          <div class="footer__bottom-nav">
            <a class="footer__bottom-nav--link" href="#!">Радио</a>
            <a class="footer__bottom-nav--link" href="#!">Файлы</a>
            <a class="footer__bottom-nav--link" href="#!">О проекте</a>
            <a class="footer__bottom-nav--link" href="#!">Использованная литература</a>
          </div>
          <div class="footer__bottom-socials">
            <a class="footer__bottom-socials--link" href="#!">
              <img class="footer__bottom-socials--img" src="images/icon-instagram.svg" alt="instagram"></img>
            </a>
            <a class="footer__bottom-socials--link" href="#!">
              <img class="footer__bottom-socials--img" src="images/icon-facebook.svg" alt="facebook"></img>
            </a>
            <a class="footer__bottom-socials--link" href="#!">
              <img class="footer__bottom-socials--img" src="images/icon-vk.svg" alt="vk"></img>
            </a>
            <a class="footer__bottom-socials--link" href="#!">
              <img class="footer__bottom-socials--img" src="images/icon-yt.svg" alt="yt"></img>
            </a>
            <a class="footer__bottom-socials--link" href="#!">
              <img class="footer__bottom-socials--img" src="images/icon-telegram.svg" alt="telegram"></img>
            </a>
            <a class="footer__bottom-socials--link" href="#!">
              <img class="footer__bottom-socials--img" src="images/icon-tictok.svg" alt="tictok"></img>
            </a>
            <div class="studies">
              <img src="images/team28.png" alt="team28">
              <div class="studies__info">
                <span>Сделано в студии</span>
                <a href="#!">Team 28</a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__bottom-right">
          <p class="footer__bottom-text">
            Сайт создан <a href="#!">Фондом развития государственного языка</a> при поддержке <a href="#!">Фонда
              Нурсултана Назарбаева</a>, <a href="#!">Фонда развития социальных проектов «Samruk-Kazyna Trust»</a> и
            компании <a href="#!">Samsung Electronics</a>.
          </p>
          <div class="footer__bottom-clients">
            <a class="footer__bottom-client" href="#!">
              <img class="footer__bottom-client--img" src="images/footer-logo-1.png" alt="logo-1">
            </a>
            <a class="footer__bottom-client" href="#!">
              <img class="footer__bottom-client--img" src="images/footer-logo-2.png" alt="logo-2">
            </a>
            <a class="footer__bottom-client" href="#!">
              <img class="footer__bottom-client--img" src="images/footer-logo-3.png" alt="logo-3">
            </a>
            <a class="footer__bottom-client" href="#!">
              <img class="footer__bottom-client--img" src="images/footer-logo-4.png" alt="logo-4">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
<script src="libs/jquery/jquery.js"></script>
<script src="libs/intlTelInput/js/intlTelInput.js"></script>
<script src="js/main.js"></script>
</body>

</html>