<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soyle</title>
  <link rel="stylesheet" href="libs/intlTelInput/css/intlTelInput.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="wrapper">
    <div class="burger-menu" id="burger-menu">
      <div class="user">
        <a class="user__avatar" href="#">
          <picture class="user__avatar-img">
            <img src="images/user-img.png" alt="avatar">
          </picture>
        </a>
        <div class="user__info">
          <a class="user__name" href="#">Имя пользователя</a>
          <div class="user__star">
            <img class="user__star-img" src="images/icon-star.svg" alt="star">
            4.9
          </div>
        </div>
        <div class="user__arrow" onmouseover="document.getElementById('user-list-b').style.display='block';"
          onmouseout="document.getElementById('user-list-b').style.display='none';">
          <img class="user__arrow-img" src="images/user-arrow.svg" alt="arrow">
          <ul class="user-list" id="user-list-b">
            <li class="user-list__item">
              <a class="user-list__item--link" href="#!">Личный кабинет</a>
            </li>
            <li class="user-list__item">
              <a class="user-list__item--link" href="#!">Прогресс обучения</a>
            </li>
            <li class="user-list__item">
              <a class="user-list__item--link" href="#!">Настройки</a>
            </li>
            <li class="user-list__item">
              <a class="user-list__item--link" href="#!">Выход</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header__nav-menu">
        <a class="header__nav-menu-link" href="#!">
          <img class="header__nav-menu-img" src="images/file-checked.svg" alt="file-checked">
        </a>
        <a class="header__nav-menu-link" href="#!">
          <img class="header__nav-menu-img" src="images/bar-chart.svg" alt="bar-chart">
        </a>
        <a class="header__nav-menu-link" href="#!">
          <img class="header__nav-menu-img" src="images/user.svg" alt="user">
        </a>
        <a class="header__nav-menu-link" href="#popup-nav-1">
          Навигатор
        </a>
      </div>
      <div class="header__nav">
        <a class="header__nav-link" href="#!">Уроки</a>
        <a class="header__nav-link" href="#!">Говорим</a>
        <a class="header__nav-link" href="#!">Читаем</a>
        <a class="header__nav-link" href="#!">пишем</a>
        <a class="header__nav-link" href="#!">полезное</a>
      </div>
    </div>
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <a class="logo-link" href="#!">
            <img class="logo-img" src="images/logo.svg" alt="logo">
          </a>
          <div class="btn btn-lang" onmouseover="document.getElementById('btn-lang__list').style.display='block';"
            onmouseout="document.getElementById('btn-lang__list').style.display='none';">
            <img class="btn-lang__img" src="images/icon-planet.svg" alt="planet">
            <span class="btn-lang__text element-dt">На русском</span>
            <span class="btn-lang__text element-mb">RU</span>
            <svg class="header-tringle">
              <use xlink:href="#tringle"></use>
            </svg>
            <ul class="btn-lang__list" id="btn-lang__list">
              <li class="btn-lang__item">
                <a class="btn-lang__item--link" href="#!">
                  <span class="btn-lang__item--dt element-dt">Русский</span>
                  <span class="btn-lang__item--mb element-mb">ru</span>
                </a>
              </li>
              <li class="btn-lang__item">
                <a class="btn-lang__item--link" href="#!">
                  <span class="btn-lang__item--dt element-dt">English</span>
                  <span class="btn-lang__item--mb element-mb">en</span>
                </a>
              </li>
              <li class="btn-lang__item">
                <a class="btn-lang__item--link" href="#!">
                  <span class="btn-lang__item--dt element-dt">Turkish</span>
                  <span class="btn-lang__item--mb element-mb">tr</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="header__nav-menu element-dt">
            <a class="header__nav-menu-link" href="#!">
              <img class="header__nav-menu-img" src="images/file-checked.svg" alt="file-checked">
            </a>
            <a class="header__nav-menu-link" href="#!">
              <img class="header__nav-menu-img" src="images/bar-chart.svg" alt="bar-chart">
            </a>
            <a class="header__nav-menu-link" href="#!">
              <img class="header__nav-menu-img" src="images/user.svg" alt="user">
            </a>
            <a class="header__nav-menu-link" href="#popup-nav-1">Навигатор</a>
          </div>
          <div class="user element-dt">
            <a class="user__avatar" href="#">
              <picture class="user__avatar-img">
                <img src="images/user-img.png" alt="avatar">
              </picture>
            </a>
            <div class="user__info">
              <a class="user__name" href="#">Имя пользователя</a>
              <div class="user__star">
                <img class="user__star-img" src="images/icon-star.svg" alt="star">
                4.9
              </div>
            </div>
            <div class="user__arrow" onmouseover="document.getElementById('user-list').style.display='block';"
              onmouseout="document.getElementById('user-list').style.display='none';">
              <img class="user__arrow-img" src="images/user-arrow.svg" alt="arrow">
              <ul class="user-list" id="user-list">
                <li class="user-list__item">
                  <a class="user-list__item--link" href="#!">Личный кабинет</a>
                </li>
                <li class="user-list__item">
                  <a class="user-list__item--link" href="#!">Прогресс обучения</a>
                </li>
                <li class="user-list__item">
                  <a class="user-list__item--link" href="#!">Настройки</a>
                </li>
                <li class="user-list__item">
                  <a class="user-list__item--link" href="#!">Выход</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="burger-btn element-mb" id="burger-btn">
            <span class="burger-btn__line"></span>
            <span class="burger-btn__line"></span>
            <span class="burger-btn__line"></span>
          </div>
        </div>
        <div class="header__nav element-dt">
          <a class="header__nav-link" href="#!">Уроки</a>
          <a class="header__nav-link" href="#!">Говорим</a>
          <a class="header__nav-link" href="#!">Читаем</a>
          <a class="header__nav-link" href="#!">пишем</a>
          <a class="header__nav-link" href="#!">полезное</a>
        </div>
      </div>
    </header>