<div id="popup-certificate-how" class="overlay back">
  <a class="cancel" href="#!"></a>
  <div class="popup">

    <span class="popup__title">Получение сертификата</span>
    <a class="close" href="#">&times;</a>
    <div class="content">
      <div class="popup-certificate-how">
        <div class="popup-text">
          <p>
            Внимание! Для получения сертификата об окончании уровня, необходимо набрать свыше 60% пройденных уроков.
          </p>
        </div>
        <a class="btn-orange popup-btn" href="#!">понятно</a>
      </div>
    </div>

  </div>
</div>