<div id="popup-certificate" class="overlay back">
  <a class="cancel" href="#!"></a>
  <div class="popup">

    <span class="popup__title">Ваш сертификат об окончании курса</span>
    <a class="close" href="#">&times;</a>
    <div class="content">
      <div class="popup-certificate">
        <img class="popup-certificate__img" src="images/certificate.jpg" alt="certificate">
        <a class="btn-orange popup-btn" href="#!">Перейти в раздел?</a>
        <div class="share">
          <span>Поделиться:</span>
          <ul class="share__items">
            <li class="share__item"><a class="share__item-link" href=#!"><img class="share__item-img" src="images/share-vk.png" alt="vk"></a></li>
            <li class="share__item"><a class="share__item-link" href=#!"><img class="share__item-img" src="images/share-twitter.png" alt="twitter"></a></li>
            <li class="share__item"><a class="share__item-link" href=#!"><img class="share__item-img" src="images/share-facebook.png" alt="facebook"></a></li>
            <li class="share__item"><a class="share__item-link" href=#!"><img class="share__item-img" src="images/share-odnokl.png" alt="odnokl"></a></li>
            <li class="share__item"><a class="share__item-link" href=#!"><img class="share__item-img" src="images/share-telegram.png" alt="telegram"></a></li>
            <li class="share__item"><a class="share__item-link" href=#!"><img class="share__item-img" src="images/share-viber.png" alt="viber"></a></li>
            <li class="share__item"><a class="share__item-link" href=#!"><img class="share__item-img" src="images/share-whatsapp.png" alt="whatsapp"></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>