<div id="popup-nav-2" class="overlay back">
  <a class="cancel" href="#!"></a>
  <div class="popup">

    <span class="popup__title">Навигатор</span>
    <a class="close" href="#">&times;</a>
    <div class="content">
      <div class="popup-nav">
        <div class="popup__nav">
          <a class="popup__nav-link" href="#popup-nav-1">
            <img class="popup__nav-img" src="images/file-checked.svg" alt="file">
            <span class="popup__nav-text">проверка уровня</span>
          </a>
          <a class="popup__nav-link active" href="#popup-nav-2">
            <img class="popup__nav-img" src="images/bar-chart.svg" alt="bar">
            <span class="popup__nav-text">прогресс обучения</span>
          </a>
          <a class="popup__nav-link" href="#popup-nav-3">
            <img class="popup__nav-img" src="images/user.svg" alt="user">
            <span class="popup__nav-text">личный кабинет</span>
          </a>
        </div>
        <h5 class="popup__content-title">Отслеживайте прогресс обучения!</h5>
        <div class="popup__content-text">
          <p>
            Следить за прогрессом обучения можно в специальном разделе. Ознакомьтесь с тем, что уже изучили, сколько времени на это
            ушло, какие результаты получены. Пройдите финальный тест и получите свой сертификат уровня.
          </p>
        </div>
        <a class="btn-orange popup-btn" href="#!">Перейти в раздел?</a>
      </div>
    </div>

  </div>
</div>